body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: rgb(255 168 74);
  min-height: 100vh; /* Ensure the body takes at least the full viewport height */
}

header {
  height: 10vh;
  width: 100%;
  background-color: rgb(23 27 44);
  color: white;
  display: flex;
  justify-content: center; /* Center the logo */
  align-items: center;
  padding: 10px 20px;
  position: relative;
}

header img {
  max-height: 10vh;
  margin: 0 auto; /* Center the logo */
  border-radius: 8px;
}

header form {
  position: absolute;
  right: 20px; /* Position the button on the right */
}

header button {
  background-color: #262640;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
}

form {
  margin: 20px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input[type="number"], input[type="text"], input[type="email"], input[type="password"] {
  font-size: 1rem;
  margin: 10px 0;
  padding: 10px;
  width: 345px;
  border: 1px solid black;
  color: white;
  background-color: rgb(23 27 44);
  border-radius: 8px;
}

form .radio-group {
  margin: 10px 0;
  text-align: center;
}

form .radio-group label {
  margin-right: 20px;
}

form .radio-group input {
  margin-right: 5px;
}

form button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: rgb(23 27 44);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

footer {
  width: 100%;
  text-align: center;
  padding: 15px;
  background-color: #ff6f3c;
  color: white;
  margin-top: auto; /* Push the footer to the bottom */
  border-top: 5px solid #ff4e00;
}

.egybe {
  display: inline;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.card {
  background-color: rgb(23 27 44);
  color: white;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  position: relative; /* Add this line */
}

.card h3 {
  margin-top: 0;
  display: inline-block; /* Add this line */
}

/*mobil nézet*/
@media (max-width: 500px) {
  header img {
    max-height: 10vh;
  }
  header button {
    background-color: #262640;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute;
    border-radius: 8px;
    right: 25px;
  }
  form input[type="number"], input[type="text"], input[type="email"], input[type="password"] {
    font-size: 0.9rem;
    margin: 10px 0;
    padding: 10px;
    width: 300px;
    border: 1px solid black;
    color: white;
    background-color: rgb(23 27 44);
    border-radius: 8px;
}
}

@media (min-width: 500px) {
  header img {
    max-height: 10vh;
  }
  header button {
    background-color: #262640;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute;
    border-radius: 8px;
    right: 40px;
  }
}

@media (min-width: 700px) {
  header img {
    max-height: 10vh;
  }
  header button {
    padding: 5px 10px;
  }
  form input[type="text"],input[type="password"] {
    width: 300px;
  }
  header button {
    background-color: #262640;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute;
    border-radius: 8px;
    right: 70px;
  }
}

/*favourites*/
.star-button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.star-button img {
  width: 24px;
  height: 24px;
  transition: filter 0.3s;
  filter: grayscale(100%);
}

.star-button.active img {
  filter: none;
}

.card {
  background-color: rgb(23 27 44);
  color: white;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  position: relative;
}

.card h3 {
  margin-top: 0;
  display: inline-block;
}

.signup {
  font-weight: normal;
  text-align: center;
  font-size: 2.5rem;
  color: rgb(23 27 44);
  letter-spacing: 0.1rem;
  font-family: fantasy;
}

.login-container {
  padding: 15px;
  border-radius: 20px;
}

.register-container {
  padding: 15px;
  border-radius: 20px;
  text-align: center;
}

.click {
  color: white;
}

.udvozlo {
  font-weight: normal;
  text-align: center;
  font-size: 2.5rem;
  color: rgb(23 27 44);
  letter-spacing: 0.1rem;
  font-family: fantasy;
}

ul {
  list-style-type: none; /* Remove the bullets */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}
