<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Favorites</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
<header>
    <img src="/images/IbolyAppLogo.png" alt="ibolyApp Logo" />
    <form action="/recommend/recommendForm" method="get">
        <button type="submit">Vissza</button>
    </form>
</header>
<h1>Favorite Drinks</h1>
<div class="card-container">
    <div th:each="favorite : ${favoriteDrinks}" class="card">
        <h3 th:text="${favorite.drink.name}"></h3>
        <p>Price: <span th:text="${favorite.drink.price}"></span> HUF</p>
        <p>Alcohol Content: <span th:text="${favorite.drink.alcoholContent}"></span>%</p>
    </div>
</div>
</body>
</html>