<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Favorites</title>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            fetch('/favorites/favs')
                .then(response => response.json())
                .then(favorites => {
                    const favList = document.getElementById("fav-list");
                    favorites.forEach(fav => {
                        const listItem = document.createElement("li");
                        listItem.innerHTML = `${fav.drink.name}`;
                        favList.appendChild(listItem);
                    });
                });
        });
    </script>
</head>
<body>
<h1>Your Favorite Drinks</h1>
<ul id="fav-list"></ul>
</body>
</html>
