<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommended Drinks</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
<header>
    <img src="/images/IbolyAppLogo.png" alt="ibolyApp Logo" />
    <form action="/recommend/recommendForm" method="get">
        <button type="submit">Back</button>
    </form>
</header>
<div class="card-container">
    <div class="card">
        <h3>Card 1</h3>
        <li th:each="drink : ${recommendedDrinks1}">
            <span th:text="${drink.name}"></span> -
            <span th:text="${drink.price}">Price</span> HUF -
            <span th:text="${drink.alcoholContent}">Alcohol Content</span>%
        </li>
    </div>
    <div class="card">
        <h3>Card 2</h3>
        <li th:each="drink : ${recommendedDrinks2}">
            <span th:text="${drink.name}"></span> -
            <span th:text="${drink.price}">Price</span> HUF -
            <span th:text="${drink.alcoholContent}">Alcohol Content</span>%
        </li>
    </div>
    <div class="card">
        <h3>Card 3</h3>
        <li th:each="drink : ${recommendedDrinks3}">
            <span th:text="${drink.name}"></span> -
            <span th:text="${drink.price}">Price</span> HUF -
            <span th:text="${drink.alcoholContent}">Alcohol Content</span>%
        </li>
    </div>
</div>
<form action="/favorites/favorites" method="post">
    <button type="submit">DrinkList</button>
</form>
</body>
</html>


</body>
</html>
