<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ital Ajánlás</title>
</head>
<body>
<h2>Ital Ajánlás</h2>
<form action="#" th:action="@{/recommend/recommendResult}" th:object="${person}" method="post">
    <label for="amount">Kereted (Ft):</label>
    <input type="number" id="amount" th:field="*{amount}" required><br>

    <label for="measure">Mérték (1=kicsit, 2=közepesen, 3=nagyon):</label>
    <input type="number" id="measure" th:field="*{measure}" required><br>

    <label for="weight">Súly (kg):</label>
    <input type="number" id="weight" th:field="*{weight}" required><br>

    <label for="gender">Nem (1=férfi, 2=nő):</label>
    <input type="number" id="gender" th:field="*{gender}" required><br>

    <button type="submit">Ajánlás</button>
</form>
</body>
</html>
